extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Jonah Poulson

        
        p.lead.text-light
          | Full Stack Web Developer.

        
        .portfolio-bio
          p
            | Hello There, So my name is Jonah Poulson and I am a Full Stack Web Developer. So believe it or not I am actually a college student
            | studying web and mobile programming. But much to some peoples surprise, College has really been a waste of money for something
            | that doesn't really teach software development skills all that well, I guessed I learned that the hard way. With much thanks to
            | Team Treehouse I was able to learn Front-End Web Development and Python through the respective Tech Degree programs. Along with that some
            | other stuff I might throw in here as well is that I am a United States Marine and I can speak Korean, although I wouldn't consider myself
            | fluent, I would say I'm pretty close. 감사합니다. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Python
          li Flask
          li JavaScript
          li HMTL 
          li CSS
          li Bootstrap
          li AJAX
          li Databases
          li Korean
        h6 Contact Info

        
        ul
          li 703-909-1650
          li jonahpoulson@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/jonah-poulson-78b98a196/') LinkedIn
        a.button.expanded(href='https://github.com/jcpoulson') GitHub
        a.button.expanded(href='https://www.instagram.com/jonahpoulson/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  